/*  your css code here. If applicable */
table {
	width: 100%;
	border-collapse: collapse;
}
td {
	border: 1px solid #000;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
#table-2, #table-3 {
	margin-top: 10px;
}
#table-2 td, #table-3 td {
	height: 10px;
}